@import 'reset';

// bower:scss
// endbower

body {
  background-color: #ed1c27;
}

.main {
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

h1 {
  font-style: italic;
  color: #FFC45B;
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  color: #555;
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 5px;
}
h3 {
  color: #ed1c27;
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  padding: 0 5px 5px 5px;
}

b {
  font-weight: bold;
}

.header-container {
  background-color: #40515e;
  padding: 20px 15px;
  height: 100%;
  color: #fff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.map {
  background-color: blue;
  bottom: 0;
  right: 0;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#map-container {
  width: 100%;
  height: 73vh;
  line-height: 1.5em;

}

#infoPanel {
  float: left;
  margin-left: 10px;
  div {
    margin-bottom: 5px;
  }
}

.list-routes {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    margin: 2px;
    span {
      color: #fff;
      display: inline-block;
      font-size: 0.86em;
      height: 22px;
      line-height: 22px;
      min-width: 34px;
      padding: 5px 7px;
      position: relative;
      text-align: center;
      text-decoration: none;
      vertical-align: top;
    }
  }
}

.routeBtn {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  &.off {
    background-color: #555;
  }
  &.on {
    background-color: #ed1c27;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    &:hover {
      background-color: #FFA300;
    }
  }
}

.bottom {
  background-color: #ed1c27;
  bottom: 0;
  font-size: 0.80em;
  font-weight: normal;
  height: 89px;
  list-style: none;
  margin: 0;
  padding: 8px 10px 3px 10px;
  position: fixed;
  text-align: left;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  &.on {
    background-color: #fff;
    padding-bottom: 5px;
    border-top: 3px solid #ed1c27;
  }
}

.arrival {
  display: inline-block;
  margin: 2px 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 33.3333%;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  li {
    background-color: #ccc;
    display: inline-block;
    list-style: none;
    margin-right: 1px;
    padding: 5px 3px;
    vertical-align: top;
    white-space: nowrap;
    width: 15%;
    &:first-child {
      background-color: #FFA300;
      color: #fff;
      font-weight: bold;
      text-align: center;
      text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
      width: 22px;
    }
    &:last-child {
      width: 10px;
    }
    &.dest {
      width: 40%;
      padding-left: 5px;
    }
  }
}

.noarrivals {
  color: #fff;
  display: block;
  padding: 30px;
}

.credits {
  bottom: 0;
  color: rgba(255, 255, 255, 0.54);
  font-size: 0.8em;
  padding: 2px;
  position: fixed;
  right: 0;
}

label.arrivals_tit {
  color: #FFF;
  display: block;
  font-size: 1.4em;
  padding: 4px 13px 4px;
  background-color: #ed1c27;
  width: 58px;
  position: absolute;
  top: -27px;
}

.route {
  background-color: #FFA300;
  color: #fff;
  display: inline-block;
  font-size: 1.0em;
  line-height: 20px;
  padding: 0px 7px;
  text-align: center;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
}

.loading {
  border-radius: 100%;
  border: 3px solid #FFC45B;
  height: 10px;
  left: 185px;
  margin: 0 auto;
  opacity: 1;
  position: absolute;
  top: 43px;
  width: 10px;
  -webkit-animation: spin-rotation .6s infinite linear;
  -moz-animation: spin-rotation .6s infinite linear;
  -o-animation: spin-rotation .6s infinite linear;
  animation: spin-rotation .6s infinite linear;
  &:before {
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: 100%;
    border-right: 3px solid transparent;
    border-top: 3px solid #ed1c27;
    content: "";
    display: block;
    height: 100%;
    left: -3px;
    position: absolute;
    top: -3px;
    width: 100%;
  }
}

@-webkit-keyframes spin-rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}


@-moz-keyframes spin-rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}


@keyframes spin-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


@media (max-width: 720px) {
  .arrival {
    width: 50%;
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
  }
}

@media (max-width: 480px) {
  .arrival {
    width: 100%;
  }
}