doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title From time to time in London.:: FTT ::..
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body
    <!--[if lt IE 10]>
    p.browserupgrade
      | You are using an
      strong outdated
      |  browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    <![endif]-->
    section.main
      header
        .header-container
          .loading
          h1
            span(style='color:#FFA300;font-size:1.4em') F
            span(style='color:#F0B142;font-size:1.2em') T
            | T London
          div
            | From time to time in London you&apos;ll need to catch a bus. Some lucky bus stops have live departure boards, but not all do. To help you, we show you a live departure board for any bus stop in London.
      section
        #map-container
      footer
        .bottom
    aside
    footer
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-7462954-11', 'auto');
      ga('send', 'pageview');
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    script(src='http://maps.googleapis.com/maps/api/js?&amp;sensor=false')
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
